@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-2-regular-rubik-16px-font-family: "Rubik", Helvetica;
  --body-2-regular-rubik-16px-font-size: 16px;
  --body-2-regular-rubik-16px-font-style: normal;
  --body-2-regular-rubik-16px-font-weight: 400;
  --body-2-regular-rubik-16px-letter-spacing: 0px;
  --body-2-regular-rubik-16px-line-height: 24px;
  --body-medium-regular-font-family: "Nunito", Helvetica;
  --body-medium-regular-font-size: 16px;
  --body-medium-regular-font-style: normal;
  --body-medium-regular-font-weight: 400;
  --body-medium-regular-letter-spacing: 0px;
  --body-medium-regular-line-height: 24px;
  --body-medium-regular-nunito-16px-font-family: "Nunito", Helvetica;
  --body-medium-regular-nunito-16px-font-size: 16px;
  --body-medium-regular-nunito-16px-font-style: normal;
  --body-medium-regular-nunito-16px-font-weight: 400;
  --body-medium-regular-nunito-16px-letter-spacing: 0px;
  --body-medium-regular-nunito-16px-line-height: 24px;
  --body-small-bold-font-family: "Nunito", Helvetica;
  --body-small-bold-font-size: 14px;
  --body-small-bold-font-style: normal;
  --body-small-bold-font-weight: 700;
  --body-small-bold-letter-spacing: 0px;
  --body-small-bold-line-height: 20px;
  --body-small-regular-font-family: "Nunito", Helvetica;
  --body-small-regular-font-size: 14px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 20px;
  --headline-desktop-h2-bold-font-family: "Oscine", Helvetica;
  --headline-desktop-h2-bold-font-size: 40px;
  --headline-desktop-h2-bold-font-style: normal;
  --headline-desktop-h2-bold-font-weight: 700;
  --headline-desktop-h2-bold-letter-spacing: 0px;
  --headline-desktop-h2-bold-line-height: 48px;
  --headline-desktop-h4-bold-font-family: "Oscine", Helvetica;
  --headline-desktop-h4-bold-font-size: 28px;
  --headline-desktop-h4-bold-font-style: normal;
  --headline-desktop-h4-bold-font-weight: 700;
  --headline-desktop-h4-bold-letter-spacing: 0px;
  --headline-desktop-h4-bold-line-height: 32px;
  --headline-desktop-h5-bold-font-family: "Oscine", Helvetica;
  --headline-desktop-h5-bold-font-size: 24px;
  --headline-desktop-h5-bold-font-style: normal;
  --headline-desktop-h5-bold-font-weight: 700;
  --headline-desktop-h5-bold-letter-spacing: 0px;
  --headline-desktop-h5-bold-line-height: 32px;
  --headline-desktop-h6-bold-font-family: "Oscine", Helvetica;
  --headline-desktop-h6-bold-font-size: 20px;
  --headline-desktop-h6-bold-font-style: normal;
  --headline-desktop-h6-bold-font-weight: 700;
  --headline-desktop-h6-bold-letter-spacing: 0px;
  --headline-desktop-h6-bold-line-height: 26px;
  --headline-desktop-h6-regular-font-family: "Oscine", Helvetica;
  --headline-desktop-h6-regular-font-size: 20px;
  --headline-desktop-h6-regular-font-style: normal;
  --headline-desktop-h6-regular-font-weight: 400;
  --headline-desktop-h6-regular-letter-spacing: 0px;
  --headline-desktop-h6-regular-line-height: 28px;
  --headline-h3-oscine-bold-32px-font-family: "Oscine", Helvetica;
  --headline-h3-oscine-bold-32px-font-size: 32px;
  --headline-h3-oscine-bold-32px-font-style: normal;
  --headline-h3-oscine-bold-32px-font-weight: 700;
  --headline-h3-oscine-bold-32px-letter-spacing: 0px;
  --headline-h3-oscine-bold-32px-line-height: 125%;
  --headline-subtitle-font-family: "Oscine", Helvetica;
  --headline-subtitle-font-size: 20px;
  --headline-subtitle-font-style: normal;
  --headline-subtitle-font-weight: 700;
  --headline-subtitle-letter-spacing: 0px;
  --headline-subtitle-line-height: 28px;
  --headline-tablet-h2-bold-font-family: "Oscine", Helvetica;
  --headline-tablet-h2-bold-font-size: 40px;
  --headline-tablet-h2-bold-font-style: normal;
  --headline-tablet-h2-bold-font-weight: 700;
  --headline-tablet-h2-bold-letter-spacing: 0px;
  --headline-tablet-h2-bold-line-height: 48px;
  --label-medium-font-family: "Nunito", Helvetica;
  --label-medium-font-size: 18px;
  --label-medium-font-style: normal;
  --label-medium-font-weight: 600;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: normal;
  --label-small-font-family: "Nunito", Helvetica;
  --label-small-font-size: 16px;
  --label-small-font-style: normal;
  --label-small-font-weight: 600;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: normal;
  --neutral-00: rgba(255, 255, 255, 1);
  --neutral-10: rgba(245, 247, 250, 1);
  --neutral-20: rgba(213, 213, 215, 1);
  --neutral-30: rgba(182, 182, 185, 1);
  --neutral-40: rgba(151, 151, 155, 1);
  --neutral-50: rgba(118, 118, 122, 1);
  --neutral-60: rgba(83, 83, 85, 1);
  --neutral-70: rgba(55, 55, 57, 1);
  --overline-regular-font-family: "Nunito", Helvetica;
  --overline-regular-font-size: 12px;
  --overline-regular-font-style: normal;
  --overline-regular-font-weight: 400;
  --overline-regular-letter-spacing: 0px;
  --overline-regular-line-height: normal;
  --primary-light-20: rgba(194, 252, 180, 1);
  --primary-light-40: rgba(114, 249, 81, 1);
  --primary-light-50: rgba(106, 241, 73, 1);
  --primary-light-60: rgba(98, 230, 65, 1);
  --primary-light-70: rgba(90, 217, 58, 1);
  --primary-light10: rgba(243, 254, 240, 1);
  --secondary-light10: rgba(218, 247, 245, 1);
  --secondary-light20: rgba(148, 234, 227, 1);
  --secondary-light30: rgba(75, 223, 210, 1);
  --secondary-light40: rgba(0, 214, 195, 1);
  --secondary-light50: rgba(3, 189, 173, 1);
  --secondary-light70: rgba(8, 142, 130, 1);
  --subtitle-large-font-family: "Nunito", Helvetica;
  --subtitle-large-font-size: 20px;
  --subtitle-large-font-style: normal;
  --subtitle-large-font-weight: 400;
  --subtitle-large-letter-spacing: 0px;
  --subtitle-large-line-height: 32px;
  --subtitle-small-font-family: "Nunito", Helvetica;
  --subtitle-small-font-size: 16px;
  --subtitle-small-font-style: normal;
  --subtitle-small-font-weight: 400;
  --subtitle-small-letter-spacing: 0px;
  --subtitle-small-line-height: 24px;
  --white: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
